################################
# Logstash
################################

# Logstash home directory
LS_HOME={{ ls_home }}

# Logstash Java path
#JAVACMD="/usr/bin/java"

# Logstash configuration directory
LS_SETTINGS_DIR={{ conf_dir }}

# Logstash PID directory
LS_PIDFILE={{ pid_dir }}/logstash.pid

# Path to the GC log file
LS_GC_LOG_FILE={{ log_dir }}/gc.log

################################
# Logstash service
################################

# SysV init.d
#
# When executing the init script, this user will be used to run the logstash service.
# The default value is 'logstash' and is declared in the init.d file.
# Note that this setting is only used by the init script. If changed, make sure that
# the configured user can read and write into the data, work, plugins and log directories.
# For systemd service, the user is usually configured in file /usr/lib/systemd/system/logstash.service
LS_USER={{ ls_user }}
LS_GROUP={{ ls_group }}

################################
# System properties
################################

# Specifies the maximum file descriptor number that can be opened by this process
# When using Systemd, this setting is ignored and the LimitNOFILE defined in
# /usr/lib/systemd/system/logstash.service takes precedence
#LS_OPEN_FILES
{% if ls_max_open_files is defined %}
LS_OPEN_FILES={{ ls_max_open_files }}
{% endif %}

# Specifies nicenest
# When using Systemd, this setting is ignored and the Nice defined in
# /usr/lib/systemd/system/logstash.service takes precedence
#LS_NICE
{% if ls_nicenest is defined %}
LS_NICE={{ ls_nicenest }}
{% endif %}

#SERVICE_NAME="logstash"
#SERVICE_DESCRIPTION="logstash"
