
{% if ls_config %}
{{ ls_config | to_nice_yaml }}
{% endif %}

{% if ls_config['node.name'] is not defined %}
node.name: {{ inventory_hostname }}-{{ ls_instance_name }}
{% endif %}

#################################### Paths #####################################

{% if ls_config['path.data'] is not defined %}
path.data: {{ data_dir }}
{% endif %}
{% if ls_config['path.config'] is not defined %}
path.config: {{ conf_dir }}/conf.d
{% endif %}
{% if ls_config['path.logs'] is not defined %}
path.logs: {{ log_dir }}
{% endif %}
