
{% if ls_config %}
{{ ls_config | to_nice_yaml }}
{% endif %}

{% if ls_config['node.name'] is not defined %}
node.name: {{ inventory_hostname }}-{{ ls_instance_name }}
{% endif %}

#################################### Paths #####################################

path.data: {{ data_dir }}
path.config: {{ conf_dir }}/conf.d
path.logs: {{ log_dir }}
